<section class="block container">
  <header class="block__header">
    <h2 class="block__title">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatem rem? Error minima dolore nesciunt est laborum beatae eligendi
      in.
    </p>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem,
          quod!
        </div>
      </div>
    </div>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container block__header">
    <!--i added a div with the class container because i want the black background in a full window-->
    <h2 class="block__title">Heading</h2>
    <p class="block__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatem rem? Error minima dolore nesciunt est laborum beatae eligendi
      in.
    </p>
  </div>
</section>
