<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__title">Item 1</h2>
    <svg class="icon icon--white collapsible__icon">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae
    suscipit voluptatem nobis quaerat eveniet libero porro laudantium nulla
    perspiciatis sed.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__title">Item 1</h2>
    <svg class="icon icon--white collapsible__icon">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae
    suscipit voluptatem nobis quaerat eveniet libero porro laudantium nulla
    perspiciatis sed.
  </div>
</div>
